[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
flask-uploads = "*"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
pymysql = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.9"
